body {
    background-color: #F0F4F9 !important;
}

.container {
    padding: 0;
    position: fixed;
    top: 56px;
    z-index: 100;
    overflow: auto;
    height: 90vh;
    width: 100%;
    left: 0;
    right: 0;
}

@font-face {
    font-family: Open Sans;
    src: url("../fonts/OpenSans-Regular.ttf") format('ttf'),
         url("../fonts/OpenSans-Regular.otf") format('otf'),
         url("../fonts/OpenSans-Regular.woff") format('woff');
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf") format('ttf'),
        url("../fonts/Roboto-Regular.otf") format('otf'),
        url("../fonts/Roboto-Regular.woff") format('woff');
}

.img-radius {
    border-radius: 10px;
}

.p12 {
    padding: 12px;
}

.carousel {
    background-color: white;
}

.hidden {
    display: none !important;
}

.header-container {
}

#scrollable-container {
    height: 200vh;
    width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#modal-body {
    font-size: 14px;
}

.btn-agree {
    background-color: #00579C;
    color: white;
}

.search-container {
    background-color: #00579C;
    padding-right: 14px;
    padding-left: 14px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.input-search {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

#tabSet {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.input-search input {
    background: #FFFFFF;
    border: 1px solid #E5CDD3;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
}

.input-search input::-webkit-input-placeholder { /* Edge */
    color: #B5B5B5;
    font-family: Roboto, serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal !important;
}

.input-search input::placeholder {
    color: #B5B5B5;
    font-family: Roboto, serif !important;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal !important;
}

.input-search img {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 14px;
    top: calc(50% - 11px);
}

.separate {
    border-bottom: 1px solid rgb(0 0 0 / 8%);
}

.pb-10 {
    padding-bottom: 10px;
}

.fs-14 {
    font-size: 14px !important;
}

.scroll_tab_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-group-item {
    border: none !important;
    background-color: #FFF !important;
}

.scroll_tab_inner a {
    text-decoration: none;
    height: 100%;
}

.list-group-item:first-child {
    padding-top: 2rem !important;
}

.merchant-group {
    background-color: white;
    padding-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .scroll_tab_inner {
        display: flex;
        justify-content: center;
        background-color: white;
    }
}

.group-title {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    display: block;
    font-family: Roboto, serif;
    margin-left: 20px;
    padding-top: 15px;
}

.merchant-icon {
    width: 53px;
    height: 53px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

.merchant-title {
    width: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    font-family: "Open Sans", serif;

    color: #555A5E;
}

.margin-top-15px {
    margin-top: 15px !important;
}

.margin-bottom-15px {
    margin-bottom: 15px !important;
}
